/* global.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f0ece2, #a29bfe);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1, h2, h3 {
    font-family: 'Cinzel', serif;
    text-align: center;
    color: #333333;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(90deg, #6c5ce7, #a29bfe);
    color: white;
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, #a29bfe, #6c5ce7);
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input:focus {
    border-color: #6c5ce7;
    outline: none;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  